body {
  margin: 0;
  background-color: #f4efe9;
  font-family: Georgia, serif;
}

.container {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 50px;
  letter-spacing: 4px;
}

p {
  color: #666;
  margin-bottom: 40px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 12px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
    margin: 0;
    background-color: #D8D8D8;
    font-family: Georgia, serif;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 50px;
    letter-spacing: 4px;
}

p {
    color: #666;
    margin-bottom: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 12px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}